
deps/Unity.Collections.dll
deps/Unity.Mathematics.dll
deps/Unity.Postprocessing.Runtime.dll
deps/UnityEditor.CoreModule.dll
deps/Assembly-CSharp.dll

/bin
/obj

/.idea
/White Knuckle Multiplayer.sln
/.vs
/WKMP.sln.DotSettings.user
/Folder.DotSettings.user
